@page
@model Mangatheque.Web.UI.Pages.MangaListModel
@{
    ViewData["Title"] = "Liste Manga";

    object pictureAdapter(byte[] picture)
    {
        var base64 = Convert.ToBase64String(picture);
        var Image = String.Format("data:image/jpg;base64,{0}", base64);
        return Image;
    }
}
<h1>Liste des mangas</h1>

<div class="fashion_section_2">
    <div class="row">
        @foreach (var item in Model.Mangas)
        {
            <div class="col-lg-4 col-sm-4" style="z-index:-1;">
                <div class="box_main">

                    <h1>@item.Nom tome @item.Numero</h1>
                    Auteur : @item.Auteur<br />
                    Genre : @item.Genre
                    <br />

                    <img src="@pictureAdapter(@item.Couverture)" alt="" class="img-fluid"><br /><br />
                    Date de publication : @item.DatePublication.ToString("dd MMM yyyy")<br/>
                    @if (item.stock.Id == 1)
                    {
                        <span style="color:lawngreen">@item.stock.Label</span>
                    }
                    else if(item.stock.Id == 0)
                    {
                        <span style="color:cornflowerblue"><i>@item.stock.Label</i></span>
                    }
                    else
                    {
                        <span style="color:red">@item.stock.Label</span>
                    }
                </div>
            </div>
        }
    </div>
</div>
